<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Results</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css" />
</head>
<body>
  <h1>Video Games</h1>
  <form action="./favorites" method="post">
   <h1><%- nameSelected %></h1>
      <fieldset>
          <legend>
              <strong>Select favorites</strong>
          </legend>
          <select name="favorites" multiple>
              <%- videogames %>
          </select>
      </fieldset>
      <br>
      Do you want to save your favorites or reset<br>
      <input type="submit" value="save"/>
      <input type="button" onclick="window.location.href='/'" value="home" />
  </form>
</body>
</html>