<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Others Favorites</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css" />
</head>
<body>
  <h1>Search by users</h1>
  <form action="./userFavorites" method="post">
      <fieldset>
          <strong>Name: </strong><input type="text" name="user"><br>
     </fieldset>
     <input type="button" value="Reset" id="reset"><input type="submit" value="Submit Request" id="submit">
  </form>
  <hr>
  <a href="/">HOME</a>
 </body>
</html>