<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
   <head>
       <meta charset="utf-8" />
       <title>My Game Catalog</title>
       <link rel="stylesheet" href="styles/style.css" type="text/css" />
   </head>
 
   <body>
       <h1>Successfully added the following to <%- user %>'s favorites:</h1>
       
       <div>
        <%- itemsTable %>
        </div>
        <a href="/">HOME</a>
 
   </body>
</html>