<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
   <head>
       <meta charset="utf-8" />
       <title>My Game Catalog</title>
       <link rel="stylesheet" href="styles/style.css" type="text/css" />
   </head>
 
   <body>
       <h1>
           Video Game Catalog
       </h1>
 
       <form action="./lookup" method="get">
           <label for="game"><strong>Enter the name of your favorite game: </strong></label>
           <input type="text" id="game" name="game">
           <br><br>
           <input type="submit" value="Submit">
       </form>
       <hr>
       Click the link to go to lookup your favorite games: <a href="./userlookup">Look up a user</a>
 
   </body>
</html>